@use '@/styles/variables' as vars;


.footer {
    padding-block: 15px 11px;

    font: vars.$h6;

    background-color: vars.$primary-color;
    color: vars.$font-primary-color;
    fill: vars.$font-primary-color;
}

.wrapper {
    gap: 3em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_copyright {
    gap: 0.2em;

    display: flex;
    flex-direction: column;
}

.message {
    max-width: 350px;

    text-align: right;
}

/*DESKTOP ONLY*/
@media screen and (min-width: vars.$desktop-min-width) { 
    .logo_copyright {
        gap: 1.25em;

        flex-direction: row;
    }
}
/**************/