@font-face {
    font-family: "Sydonia Atramentiqua";
    src:
        url("/assets/fonts/SydoniaAtramentiquaLight.woff2") format("woff2"),
        url("/assets/fonts/SydoniaAtramentiquaLight.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sydonia Atramentiqua";
    src:
        url("/assets/fonts/SydoniaAtramentiquaRegular.woff2") format("woff2"),
        url("/assets/fonts/SydoniaAtramentiquaRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sydonia Atramentiqua";
    src:
        url("/assets/fonts/SydoniaAtramentiquaItalic.woff2") format("woff2"),
        url("/assets/fonts/SydoniaAtramentiquaItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Sydonia Atramentiqua";
    src:
        url("/assets/fonts/SydoniaAtramentiquaBold.woff2") format("woff2"),
        url("/assets/fonts/SydoniaAtramentiquaBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
