/* ==========================================================================
   Sydonia Atramentiqua
   ========================================================================== */

/* Light — 100 */
@font-face {
    font-family: "Sydonia Atramentiqua";
    src:
        url("/assets/fonts/Sydonia Atramentiqua Light.woff2") format("woff2"),
        url("/assets/fonts/Sydonia Atramentiqua Light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Regular — 400 */
@font-face {
    font-family: "Sydonia Atramentiqua";
    src:
        url("/assets/fonts/Sydonia Atramentiqua Regular.woff2") format("woff2"),
        url("/assets/fonts/Sydonia Atramentiqua Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Regular Italic — 400 */
@font-face {
    font-family: "Sydonia Atramentiqua";
    src:
        url("/assets/fonts/Sydonia Atramentiqua Italic.woff2") format("woff2"),
        url("/assets/fonts/Sydonia Atramentiqua Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Bold — 700 */
@font-face {
    font-family: "Sydonia Atramentiqua";
    src:
        url("/assets/fonts/Sydonia Atramentiqua Bold.woff2") format("woff2"),
        url("/assets/fonts/Sydonia Atramentiqua Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* ==========================================================================
   Blackwood Castle
   ========================================================================== */

/* Regular */
@font-face {
    font-family: "Blackwood Castle";
    src: url("/assets/fonts/Blackwood Castle.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

/* Shadow Variant */
@font-face {
    font-family: "Blackwood Castle Shadow";
    src: url("/assets/fonts/Blackwood Castle Shadow.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}


/* ==========================================================================
   IM Fell DW Pica
   ========================================================================== */

/* Regular */
@font-face {
    font-family: "IM Fell DW Pica";
    src: url("/assets/fonts/IM Fell DW Pica Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

/* Italic */
@font-face {
    font-family: "IM Fell DW Pica";
    src: url("/assets/fonts/IM Fell DW Pica Italic.ttf") format("truetype");
    font-style: italic;
    font-display: swap;
}
