/* ==========================================================================
   Blackwood Castle
   ========================================================================== */

/* Regular */
@font-face {
    font-family: "Blackwood Castle";
    src: url("/assets/fonts/Blackwood Castle.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

/* Shadow Variant */
@font-face {
    font-family: "Blackwood Castle Shadow";
    src: url("/assets/fonts/Blackwood Castle Shadow.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}


/* ==========================================================================
   IM Fell DW Pica
   ========================================================================== */

/* Regular */
@font-face {
    font-family: "IM Fell DW Pica";
    src: url("/assets/fonts/IM Fell DW Pica Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

/* Italic */
@font-face {
    font-family: "IM Fell DW Pica";
    src: url("/assets/fonts/IM Fell DW Pica Italic.ttf") format("truetype");
    font-style: italic;
    font-display: swap;
}
